.AppBarWrap {
  background-color: var(--bg-light-grey);
  margin-bottom: 48px;

}
.header {
  display: flex;
  padding: 24px 0;
}

.logo {
  margin-right: 450px;
  font-size: 20px;
  font-weight: 800;
  color: currentColor;
}

.logoTrack {
  color: var(--second-color);
}
